{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}






    <div class="row">

        <div class=" col-sm-4 offset-sm-1">

            <h1>Bonjour {{ person.firstName }} {{ person.lastName }} </h1>

            <h3> Voici les informations de votre compte</h3>
            <table class="table table-user-information">
                <thead>

                </thead>
                <tbody>
                <tr>
                    <td>Prénom:</td>
                    <td>{{ person.firstName }}</td>
                </tr>
                <tr>
                    <td>Nom:</td>
                    <td>{{ person.lastName }}</td>
                </tr>
                <tr>
                    <td>Nom d'utilisateur</td>
                    <td>{{ person.username }}</td>
                </tr>

                <tr>
                    <td>Téléphone</td>
                    <td>{{ person.phoneNumber}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ person.email }}</td>
                </tr>

                </tbody>
            </table>

            <div class="d-flex justify-content-between">

                <a href="{{ path('account_edit') }}" class="btn btn-primary">Mettre à jour mes informations</a>

                {{ include('account/_delete_form.html.twig') }}

            </div>
        </div>


        <div class="col-sm-5 offset-sm-1">

            <h1>Mes annonces</h1>

            <h2>Voici les annonces que vous avez déposé</h2>

            <table class="table">
                <thead>
                <tr>
                    <td>Image</td>
                    <td>Titre</td>
                    <td>Date</td>
                    <td>Région</td>
                    <td>Catégorie</td>
                    <td colspan="2" class="text-center">Action</td>
                </tr>
                </thead>
                <tbody>
                {% for ad in ads %}
                    <tr  {% if ad.isActive != true %} class="bg-info" {% endif %}>

                        <td class='clickable-data' data-href="{{ path('ads_show' , { 'ad' : ad.id}) }}"><img class="img-fluid img-thumbnail" width="100"  src="{{ path('photo_show_one' , { 'ad' : ad.id })}}" alt="img_annonce"></td>
                        <td>{{ ad.title }}</td>
                        <td>{{ ad.creationDate|date("d/m/Y") }}</td>
                        <td>{{ ad.region.name }}</td>
                        <td>{{ ad.category.name }}</td>
                        {% if is_granted('edit' , ad) %}
                        <td><a href="{{ path('ads_edit', {'ads' : ad.id }) }}" class="btn btn-warning">Editer</a></td>
                        <td>{{ include('ads/_delete_form.html.twig' , {'ads' : ad }) }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>

            </table>


        </div>
    </div>



{% endblock %}