{% extends 'base.html.twig' %}

{% block title %}Les Annonces d' Annonces & Co!{% endblock %}

{% block body %}

    <div class="container">


        <h1>Les annonces</h1>

        <h2>Tableau des annonces</h2>

        <table class="table">
            <thead>
            <tr>
            <td>Image</td>
            <td>Titre</td>
            <td>Date</td>
            <td>Auteur</td>
            <td>Région</td>
            <td>Catégorie</td>
            </tr>
            </thead>
            <tbody>
            {% for ad in ads %}
                <tr>
                    <td>image</td>
                    <td>{{ ad.title }}</td>
                    <td>{{ ad.creationDate|date }}</td>
                    <td>{{ ad.author.firstName }} {{ ad.author.lastName }}</td>
                    <td>{{ ad.region }}</td>
                    <td>{{ ad.category }}</td>

                </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>
{% endblock %}
